@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,700;1,500&family=Source+Sans+3&display=swap");
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
     font-family: "Poppins", sans-serif;
     font-family: "Source Sans 3", sans-serif;
}
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.image_sale {
     width: 100%;
     height: 450px;
     border-radius: 10px;
}
.button-custom {
     --bs-btn-font-size: 0.9rem !important;
     padding: 3px !important;
     margin-right: 4px;
     border-radius: 0% !important;
     border-color: rgb(211, 206, 206) !important;
     color: rgb(119, 117, 117) !important;
     margin: 3px;
}
.button-custom:hover {
     border-color: #43c4eb !important;
     color: #43c4eb !important;
}
.text-sale {
     font-size: 14px !important;
     text-decoration-line: line-through;
     text-decoration-color: black;
}
.text-sale1 {
     font-size: 14px !important;
}
.carousel {
     position: relative;
}
.carousel-control-prev-sale,
.carousel-control-next-sale {
     background-color: rgb(232, 67, 6) !important;
     position: absolute !important;
     margin-top: 200px !important;
     width: 40px !important;
     height: 70px !important;
     font-weight: 200 !important;
     box-shadow: black 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.carousel-control-prev-sale {
     margin-left: 10px !important;
}
.carousel-control-next-sale {
     margin-right: 10px !important;
}
